<div class="container">
  <div class="card">
    <div class="card-body">
      <div
        class="d-flex justify-content-between align-items-center bg-dark text-white p-3 rounded"
      >
        <h1>Gerenciamento de Motoristas</h1>
        <button
          class="btn btn-primary btn-rounded btn-shadow me-2"
          (click)="cadastrarModal()"
        >
          <i class="bi bi-plus-circle me-1"></i> Novo Motorista
        </button>
      </div>

      <!-- Barra de pesquisa -->
      <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
        <div class="d-flex flex-grow-1 me-2 gap-2">
          <input
            type="text"
            class="form-control"
            placeholder="Filtrar por nome"
            [(ngModel)]="filtroNome"
            (keyup.enter)="aplicarFiltros()"
          />

          <input
            type="text"
            class="form-control"
            placeholder="Filtrar por matrícula"
            [(ngModel)]="filtroMatricula"
            (keyup.enter)="aplicarFiltros()"
          />
        </div>

        <button class="btn btn-primary ms-2" (click)="aplicarFiltros()">
          <i class="bi bi-search"></i> Pesquisar
        </button>
        <button class="btn btn-secondary ms-2" (click)="limparFiltros()">
          Limpar
        </button>
      </div>

      <!-- Tabela de Motoristas -->
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th (click)="ordenarPor('id')" style="cursor: pointer">
              ID
              <i
                *ngIf="colunaOrdenada === 'id'"
                class="bi"
                [ngClass]="{
                  'bi-caret-up-fill': ordem === 'asc',
                  'bi-caret-down-fill': ordem === 'desc'
                }"
              ></i>
            </th>
            <th (click)="ordenarPor('nome')" style="cursor: pointer">
              Nome
              <i
                *ngIf="colunaOrdenada === 'nome'"
                class="bi"
                [ngClass]="{
                  'bi-caret-up-fill': ordem === 'asc',
                  'bi-caret-down-fill': ordem === 'desc'
                }"
              ></i>
            </th>
            <th (click)="ordenarPor('matricula')" style="cursor: pointer">
              Matrícula
              <i
                *ngIf="colunaOrdenada === 'matricula'"
                class="bi"
                [ngClass]="{
                  'bi-caret-up-fill': ordem === 'asc',
                  'bi-caret-down-fill': ordem === 'desc'
                }"
              ></i>
            </th>

            <th>Telefone</th>
            <th (click)="ordenarPor('ativo')" style="cursor: pointer">
              Ativo
              <i
                *ngIf="colunaOrdenada === 'ativo'"
                class="bi"
                [ngClass]="{
                  'bi-caret-up-fill': ordem === 'asc',
                  'bi-caret-down-fill': ordem === 'desc'
                }"
              ></i>
            </th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          @for (motorista of lista; track motorista.id) {
          <tr>
            <td>{{ motorista.id }}</td>
            <td>{{ motorista.nome }}</td>
            <td>{{ motorista.matricula }}</td>
            <td>{{ motorista.telefone }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="motorista.ativo ? 'bg-success' : 'bg-danger'"
              >
                {{ motorista.ativo ? "Sim" : "Não" }}
              </span>
            </td>
            <td>
              <button
                class="btn btn-warning btn-sm btn-shadow me-1"
                (click)="editarModal(motorista)"
                title="Editar Motorista"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                *ngIf="canDelete()"
                class="btn btn-danger btn-sm btn-shadow"
                (click)="excluir(motorista)"
                title="Excluir Motorista"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="5" class="text-center">
              Nenhum motorista encontrado.
            </td>
          </tr>
          }
        </tbody>
      </table>

      <!-- Paginação -->
      <div
        class="d-flex justify-content-between align-items-center mt-4 flex-wrap bg-light text-black p-3 rounded"
      >
        <div class="me-3">
          <small>
            Exibindo página <strong>{{ page + 1 }}</strong> de
            <strong>{{ totalPages }}</strong> — Total de registros:
            <strong>{{ totalElements }}</strong>
          </small>
        </div>

        <nav>
          <ul class="pagination mb-0">
            <li class="page-item" [class.disabled]="page === 0">
              <button
                class="page-link"
                (click)="paginaAnterior()"
                [disabled]="page === 0"
              >
                ‹ Anterior
              </button>
            </li>

            <li
              *ngFor="let p of [].constructor(totalPages); let i = index"
              class="page-item"
              [class.active]="i === page"
            >
              <button class="page-link" (click)="irParaPagina(i)">
                {{ i + 1 }}
              </button>
            </li>

            <li class="page-item" [class.disabled]="page + 1 >= totalPages">
              <button
                class="page-link"
                (click)="proximaPagina()"
                [disabled]="page + 1 >= totalPages"
              >
                Próxima ›
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Cadastro/Edição -->
<ng-template #modalMotoristaDetalhe>
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title fw-bold">
      {{ registroSelecionado.id > 0 ? "Editar Motorista" : "Novo Motorista" }}
    </h5>
    <button type="button" class="btn-close" (click)="cancelarModal()"></button>
  </div>

  <div class="modal-body">
    <form
      #motoristaForm="ngForm"
      (ngSubmit)="salvarMotorista(registroSelecionado)"
    >
      <div class="mb-3">
        <label class="form-label fw-bold">Nome:</label>
        <input
          mdbInput
          [(ngModel)]="registroSelecionado.nome"
          #nome="ngModel"
          name="nome"
          required
          class="form-control"
        />
        <div
          *ngIf="nome.invalid && (nome.dirty || nome.touched)"
          class="text-danger mt-1"
        >
          O campo Nome é obrigatório.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Matrícula:</label>
        <input
          mdbInput
          [(ngModel)]="registroSelecionado.matricula"
          #matricula="ngModel"
          name="matricula"
          required
          class="form-control"
        />
        <div
          *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"
          class="text-danger mt-1"
        >
          O campo Matrícula é obrigatório.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Telefone:</label>
        <input
          mdbInput
          [(ngModel)]="registroSelecionado.telefone"
          #telefone="ngModel"
          name="telefone"
          required
          mask="(00) 00000-0000"
          [dropSpecialCharacters]="false"
          class="form-control"
          placeholder="(99) 99999-9999"
        />
        <div
          *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)"
          class="text-danger mt-1"
        >
          O campo Telefone é obrigatório.
        </div>

        <!-- Mensagem se formato estiver errado
        <div
          *ngIf="telefone.errors?.['pattern'] && (telefone.dirty || telefone.touched)"
          class="text-danger mt-1"
        >
          Formato inválido. Use (99) 99999-9999.
        </div> -->
      </div>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="ativo"
          [(ngModel)]="registroSelecionado.ativo"
          name="ativo"
        />
        <label class="form-check-label fw-bold" for="ativo">Ativo</label>
      </div>
    </form>
  </div>

  <div class="modal-footer bg-light">
    <button
      class="btn btn-primary"
      [disabled]="motoristaForm.invalid"
      (click)="salvarMotorista(registroSelecionado)"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancelarModal()">
      Cancelar
    </button>
  </div>
</ng-template>

<!-- Modal de Confirmação de Exclusão -->
<ng-template #modalConfirmacaoExclusao>
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title fw-bold">Confirmação de Exclusão</h5>
    <button type="button" class="btn-close" (click)="cancelarModal()"></button>
  </div>

  <div class="modal-body">
    <p>
      Tem certeza que deseja excluir o motorista
      <strong>{{ registroSelecionado.nome }}</strong
      >?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelarModal()">
      Cancelar
    </button>
    <button *ngIf="canDelete()" type="button" class="btn btn-danger" (click)="excluirConfirmado()">
      Excluir
    </button>
  </div>
</ng-template>

<!-- Toasts -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  @for (toast of toastService.messages$ | async; track toast) {
  <div
    class="toast show"
    [ngClass]="{
      'bg-success': toast.type === 'success',
      'bg-danger': toast.type === 'danger',
      'bg-info': toast.type === 'info'
    }"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header border-0 bg-transparent text-white">
      <strong class="me-auto text-capitalize">{{ toast.type }}</strong>
    </div>
    <div class="toast-body text-white">
      {{ toast.message }}
    </div>
  </div>
  }
</div>
